header {
	margin: 2vh auto;
	align-items: center;
	font-family: Tahoma, sans-serif;
}

header>div {
	display: flex;
	align-items: center;
}

body {
	margin: 2vh auto;
	max-width: 75%;
	align-items: center;
	font-family: Tahoma, sans-serif;
}

body>div {
	line-height: 5px;
	text-align: center;
}

p {
    border: 2px dotted black;
	padding: 5px;
	text-align: justify;
	font-size: 130%;
}

nav>ul {
	gap: 1rem;
}

.badges {
	align-items: center;
}

footer {
	font-size: small;
	margin: 2rem;
	text-align: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.responsive {
	width: 85%;
	height: auto;
}